<h5 class="text-md-center m-5">Get User Info</h5>


  <div style="width: 100%; margin: 5%; display:flex">
    <div style="width: 20%; padding: 1px;padding-right:5px; border-right: 1px solid black; display: flex; flex-direction: column;">
      <div style="border: 1px solid black;border-radius:2px;padding:5px;">
        <div class="form-label">
          <input placeholder="User ID" class="form-control" />
        </div>
        <div class="form-label" style="height: 10px;"></div>
        <div style=" vertical-align:central;text-align:center; padding:5px;">
          <button (click)="GetUser()" type="submit" style="background-color:lightgray;border-radius:5px;">Get User Info</button>
        </div>
      </div>
    </div>
    <div style="width: 70%; padding: 10px; background-color: #ececec;">
      <label style="width:100%;height:100%;font-size:100px;border:1px solid black">hello world!hello world!hello world!hello world!</label>
    </div>
  </div>

